<div class="row">
  <div class="col-sm-12">
    <div class="content-header text-left">Players</div>
    <p class="content-sub-header"></p>
  </div>
</div>
<!-- Player Starts -->
<section id="players">
  <div class="card">
    <div class="card-header text-left">
      <h4>Video Player</h4>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <vg-player>
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>

            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>

            <vg-controls>
              <vg-play-pause></vg-play-pause>
              <vg-playback-button></vg-playback-button>

              <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

              <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

              <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
              <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

              <vg-track-selector></vg-track-selector>
              <vg-mute></vg-mute>
              <vg-volume></vg-volume>

              <vg-fullscreen></vg-fullscreen>
            </vg-controls>

            <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
              <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
              <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg">
              <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm">

              <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt" srclang="en" default>
              <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt" srclang="es">
            </video>
          </vg-player>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header text-left">
      <h4>Audio Player</h4>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <vg-player>
            <audio [vgMedia]="media1" #media1 id="singleAudio" preload="auto" controls style="width: 100%">
              <source src="http://static.videogular.com/assets/audios/videogular.mp3" type="audio/mp3">
            </audio>
          </vg-player>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Player Ends -->