<!-- Media Object start -->
<section id="bordered-media-object d-flex mr-3">
	<div class="row text-left">
		<div class="col-sm-12">
			<div class="content-header">Media object</div>
			<p class="content-sub-header">Abstract object styles for building various types of components that feature a left- or right-aligned image alongside
				textual content.</p>
		</div>
	</div>
	<div class="row text-left" matchHeight ="card">
		<!--Left Aligned Media Starts-->
		<div class="col-md-12 col-lg-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Left media</h4>
					<p>Default media element to left of the content.</p>
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="media">
							<a> 
								<img alt="96x96" class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-12.png" style="width: 80px; height: 80px;">
							</a>
							<div class="media-body">
								<h4 class="media-heading">Media heading</h4>
								<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
									vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
									congue felis in faucibus. </p>
							</div>
						</div>
						<div class="media">
							<a> 
								<img alt="96x96" class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-11.png" style="width: 80px; height: 80px;">
							</a>
							<div class="media-body">
								<h4 class="media-heading">Media heading</h4>
								<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
									vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
									congue felis in faucibus. </p>
							</div>
						</div>
						<div class="media">
							<a> 
								<img alt="96x96" class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-3.png" style="width: 80px; height: 80px;">
							</a>
							<div class="media-body">
								<h4 class="media-heading">Media heading</h4>
								<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
									vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
									congue felis in faucibus. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Left Aligned Media Ends-->

		<!--Right Aligned Media Starts-->
		<div class="col-md-12 col-lg-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Right media</h4>
					<p>switch image to right of the content.</p>
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="media">
							<div class="media-body">
								<h4 class="media-heading">Media heading</h4>
								<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
									vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
									congue felis in faucibus. </p>
							</div>
							<a> 
								<img alt="96x96" class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-18.png" style="width: 80px; height: 80px;">
							</a>
						</div>
						<div class="media">
							<div class="media-body">
								<h4 class="media-heading">Media heading</h4>
								<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
									vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
									congue felis in faucibus. </p>
							</div>
							<a> 
								<img alt="96x96" class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-7.png" style="width: 80px; height: 80px;">
							</a>
						</div>
						<div class="media">
							<div class="media-body">
								<h4 class="media-heading">Media heading</h4>
								<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
									vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
									congue felis in faucibus. </p>
							</div>
							<a>
								<img alt="96x96" class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-14.png" style="width: 80px; height: 80px;">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Right Aligned Media Ends-->
	</div>
	<div class="row text-left" matchHeight ="card">
		<!--Left Media With Right Text Starts-->
		<div class="col-md-12 col-lg-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Left Media With Right Text</h4>
					<p>Use <code>.text-right</code> class to the content.</p>
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="media-list">
							<div class="media pb-3">
								<a>
									<img class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-13.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
								<div class="media-body text-right">
									<h4 class="media-heading">Oat cake </h4>
									<p>Oat cake topping oat cake jelly soufflé donut jelly-o tootsie roll. Candy sweet cake. Tiramisu cookie toffee donut.
										Chocolate pie croissant gummi bears muffin dessert.</p>
								</div>
							</div>
							<div class="media pb-3">
								<a>
									<img class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-6.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
								<div class="media-body text-right">
									<h4 class="media-heading">Jelly chocolate cake</h4>
									<p>Jelly chocolate cake lemon drops halvah dragée caramels jelly-o biscuit. Fruitcake jelly beans marzipan sesame snaps.Jelly
										beans cake chocolate cake gummi bears lollipop.</p>
								</div>
							</div>
							<div class="media pb-3">
								<a>
									<img class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-18.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
								<div class="media-body text-right">
									<h4 class="media-heading">Pudding marshmallow</h4>
									<p>Pudding marshmallow cheesecake. Chocolate cake apple pie jelly-o bear claw ice cream sugar plum biscuit. Lemon drops
										brownie biscuit jelly-o biscuit gummies.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Left Media With Right Text Ends-->

		<!--Right Media With Right Text Starts-->
		<div class="col-md-12 col-lg-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Right media With Right Text</h4>
					<p>Use <code>.text-right</code>to the content for right align text.</p>
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="media-list">
							<div class="media pb-3">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Chupa chups candy</h4>
									<p>Oat cake topping oat cake jelly soufflé donut jelly-o tootsie roll. Candy sweet cake. Tiramisu cookie toffee donut.
										Chocolate pie croissant gummi bears muffin dessert.</p>
								</div>
								<a>
									<img class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-3.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
							</div>
							<div class="media pb-3">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Chocolate pudding</h4>
									<p>Jelly chocolate cake lemon drops halvah dragée caramels jelly-o biscuit. Fruitcake jelly beans marzipan sesame snaps.Jelly
										beans cake chocolate cake gummi bears lollipop.</p>
								</div>
								<a>
									<img class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-9.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
							</div>
							<div class="media pb-3">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Cotton candy jelly</h4>
									<p>Pudding marshmallow cheesecake. Chocolate cake apple pie jelly-o bear claw ice cream sugar plum biscuit. Lemon drops
										brownie biscuit jelly-o biscuit gummies.</p>
								</div>
								<a>
									<img class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-8.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Right Media With Right Text Ends-->
	</div>
</section>
<!-- Media Object end -->

<!-- Bordered Media Object start -->
<section id="bordered-media-object d-flex mr-3">
	<div class="row text-left">
		<div class="col-sm-12">
			<div class="content-header">Bordered Media Object</div>
			<p class="content-sub-header">Wrap media list using <code>.media-bordered</code> class for bordered Media Object.</p>
		</div>
	</div>
	<div class="row text-left" matchHeight ="card">
		<!--Left Aligned Media Bordered Starts-->
		<div class="col-md-12 col-lg-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Left Aligned Media Bordered</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="media-list media-bordered">
							<div class="media">
								<a>
									<img class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-18.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
								<div class="media-body">
									<h4 class="media-heading">Cookie candy</h4>
									<p>Cookie candy dragée marzipan gingerbread pie pudding. Brownie fruitcake wafer bonbon gummi bears apple pie. Brownie
										lemon drops chocolate cake donut croissant candy.</p>
								</div>
							</div>
							<div class="media pt-4">
								<a>
									<img class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-9.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
								<div class="media-body">
									<h4 class="media-heading">Tootsie roll dessert </h4>
									<p>Tootsie roll dessert tart candy canes ice cream gingerbread cookie. Jelly jelly-o bear claw bear claw halvah. Biscuit
										icing pastry tootsie roll gingerbread croissant chupa chups. </p>
								</div>
							</div>
							<div class="media pt-4">
								<a>
									<img class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-3.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
								<div class="media-body">
									<h4 class="media-heading">Lemon drops ice cream</h4>
									<p>Lemon drops ice cream chocolate cake marzipan ice cream. Gummi bears cotton candy cheesecake tootsie roll. Candy
										sweet cake. Tiramisu cookie toffee donut.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Left Aligned Media Bordered Ends-->

		<!--Right Aligned Media Bordered Starts-->
		<div class="col-md-12 col-lg-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Bordered Media</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="media-list media-bordered">
							<div class="media">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Chupa chups candy</h4>
									<p>Oat cake topping oat cake jelly soufflé donut jelly-o tootsie roll. Candy sweet cake. Tiramisu cookie toffee donut.
										Chocolate pie croissant gummi bears muffin chocolate.</p>
								</div>
								<a>
									<img class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-11.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
							</div>
							<div class="media pt-4">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Chocolate pudding</h4>
									<p>Jelly chocolate cake lemon drops halvah dragée caramels jelly-o biscuit. Fruitcake jelly beans marzipan sesame snaps.Jelly
										beans cake chocolate cake gummi bears lollipop.</p>
								</div>
								<a>
									<img class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-14.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
							</div>
							<div class="media pt-4">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Cotton candy jelly</h4>
									<p>Pudding marshmallow cheesecake. Chocolate cake apple pie jelly-o bear claw ice cream sugar plum biscuit. Lemon drops
										brownie biscuit jelly-o biscuit gummies.</p>
								</div>
								<a>
									<img class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-12.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Right Aligned Media Bordered Ends-->
	</div>
</section>
<!-- Bordered Media Object end -->


<!-- Round Media Object start -->
<section id="round-media-object">
	<div class="row text-left">
		<div class="col-sm-12">
			<div class="content-header">Round Media Object</div>
			<p class="content-sub-header">Add <code>.round-media</code> class to image for round media object.</p>
		</div>
	</div>
	<div class="row text-left" matchHeight ="card">
		<!--Left Round Media Starts-->
		<div class="col-md-12 col-lg-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Left Round Media Objects</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="media-list">
							<div class="media pb-3">
								<a>
									<img class="media-object d-flex mr-3 round-media" src="assets/img/portrait/small/avatar-s-14.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
								<div class="media-body">
									<h4 class="media-heading">Cookie candy</h4>
									<p>Cookie candy dragée marzipan gingerbread pie pudding. Brownie fruitcake wafer bonbon gummi bears apple pie. Brownie
										lemon drops chocolate cake donut croissant candy.</p>
								</div>
							</div>
							<div class="media pb-3">
								<a>
									<img class="media-object d-flex mr-3 round-media" src="assets/img/portrait/small/avatar-s-7.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
								<div class="media-body">
									<h4 class="media-heading">Tootsie roll dessert </h4>
									<p>Tootsie roll dessert tart candy canes ice cream gingerbread cookie. Jelly jelly-o bear claw bear claw halvah. Biscuit
										icing pastry tootsie roll gingerbread croissant chupa chups. </p>
								</div>
							</div>
							<div class="media">
								<a>
									<img class="media-object d-flex mr-3 round-media" src="assets/img/portrait/small/avatar-s-24.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
								<div class="media-body">
									<h4 class="media-heading">Lemon drops ice cream</h4>
									<p>Lemon drops ice cream chocolate cake marzipan ice cream. Gummi bears cotton candy cheesecake tootsie roll. Candy
										sweet cake. Tiramisu cookie toffee donut.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Left Round Media Ends-->

		<!--Right Round Media Starts-->
		<div class="col-md-12 col-lg-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Right Round Media</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="media-list">
							<div class="media pb-3">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Oat cake </h4>
									<p>Oat cake topping oat cake jelly soufflé donut jelly-o tootsie roll. Candy sweet cake. Tiramisu cookie toffee donut.
										Chocolate pie croissant gummi bears muffin chocolate.</p>
								</div>
								<a>
									<img class="media-object d-flex mr-3 round-media" src="assets/img/portrait/small/avatar-s-13.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
							</div>
							<div class="media pb-3">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Jelly chocolate cake</h4>
									<p>Jelly chocolate cake lemon drops halvah dragée caramels jelly-o biscuit. Fruitcake jelly beans marzipan sesame snaps.Jelly
										beans cake chocolate cake gummi bears lollipop.</p>
								</div>
								<a>
									<img class="media-object d-flex mr-3 round-media" src="assets/img/portrait/small/avatar-s-6.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
							</div>
							<div class="media">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Pudding marshmallow</h4>
									<p>Pudding marshmallow cheesecake. Chocolate cake apple pie jelly-o bear claw ice cream sugar plum biscuit. Lemon drops
										brownie biscuit jelly-o biscuit gummies.</p>
								</div>
								<a>
									<img class="media-object d-flex mr-3 round-media" src="assets/img/portrait/small/avatar-s-18.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Right Round Media Ends-->
	</div>
</section>
<!-- Round Media Object end -->


<!-- Bordered Round Media Object start -->
<section id="bordered-round-media-object d-flex mr-3">
	<div class="row text-left">
		<div class="col-sm-12">
			<div class="content-header">Bordered Round Media Object</div>
			<p class="content-sub-header">Wrap media list using <code>.media-bordered</code> class for bordered Media Object.</p>
		</div>
	</div>
	<div class="row text-left" matchHeight ="card">
		<!--Bordered Right Round Media Starts-->
		<div class="col-md-12 col-lg-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Bordered Round Media Objects</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="media-list media-bordered">
							<div class="media">
								<a>
									<img class="media-object d-flex mr-3 round-media" src="assets/img/portrait/small/avatar-s-24.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
								<div class="media-body">
									<h4 class="media-heading">Cookie candy</h4>
									<p>Cookie candy dragée marzipan gingerbread pie pudding. Brownie fruitcake wafer bonbon gummi bears apple pie. Brownie
										lemon drops chocolate cake donut croissant candy.</p>
								</div>
							</div>
							<div class="media">
								<a>
									<img class="media-object d-flex mr-3 round-media" src="assets/img/portrait/small/avatar-s-9.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
								<div class="media-body">
									<h4 class="media-heading">Tootsie roll dessert </h4>
									<p>Tootsie roll dessert tart candy canes ice cream gingerbread cookie. Jelly jelly-o bear claw bear claw halvah. Biscuit
										icing pastry tootsie roll gingerbread croissant chupa chups. </p>
								</div>
							</div>
							<div class="media">
								<a>
									<img class="media-object d-flex mr-3 round-media" src="assets/img/portrait/small/avatar-s-18.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
								<div class="media-body">
									<h4 class="media-heading">Lemon drops ice cream</h4>
									<p>Lemon drops ice cream chocolate cake marzipan ice cream. Gummi bears cotton candy cheesecake tootsie roll. Candy
										sweet cake. Tiramisu cookie toffee donut.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Bordered Right Round Media Starts-->

		<!--Bordered Round Media With Right Align Starts-->
		<div class="col-md-12 col-lg-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Bordered Round Media With Right Align</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="media-list media-bordered">
							<div class="media">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Oat cake </h4>
									<p>Oat cake topping oat cake jelly soufflé donut jelly-o tootsie roll. Candy sweet cake. Tiramisu cookie toffee donut.
										Chocolate pie croissant gummi bears muffin chocolate.</p>
								</div>
								<a>
									<img class="media-object d-flex mr-3 round-media" src="assets/img/portrait/small/avatar-s-7.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
							</div>
							<div class="media">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Jelly chocolate cake</h4>
									<p>Jelly chocolate cake lemon drops halvah dragée caramels jelly-o biscuit. Fruitcake jelly beans marzipan sesame snaps.Jelly
										beans cake chocolate cake gummi bears lollipop.</p>
								</div>
								<a>
									<img class="media-object d-flex mr-3 round-media" src="assets/img/portrait/small/avatar-s-8.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
							</div>
							<div class="media">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Pudding marshmallow</h4>
									<p>Pudding marshmallow cheesecake. Chocolate cake apple pie jelly-o bear claw ice cream sugar plum biscuit. Lemon drops
										brownie biscuit jelly-o biscuit gummies.</p>
								</div>
								<a>
									<img class="media-object d-flex mr-3 round-media" src="assets/img/portrait/small/avatar-s-6.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Bordered Round Media With Right Align Ends-->
	</div>
</section>
<!-- Bordered Round Media Object end -->

<!-- Media List start -->
<section id="media-list">
	<div class="row text-left">
		<div class="col-sm-12">
			<div class="content-header">Nested Media list</div>
			<p class="content-sub-header">With a bit of extra markup, you can use media inside list (useful for comment threads or articles lists).</p>
		</div>
	</div>
	<div class="row text-left" matchHeight ="card">
		<!--Media Aligned Left Starts-->
		<div class="col-lg-12 col-xl-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Media Aligned Left</h4>
					<p>With a bit of extra markup, you can use media inside list (useful for comment threads or articles lists).</p>
				</div>
				<div class="card-body">
					<div class="card-block">
						<ul class="media-list media-bordered pl-0">
							<li class="media">
								<a>
									<img alt="96x96" class="media-object d-flex mr-3" data-src="holder.js/96x96" src="assets/img/portrait/small/avatar-s-8.png" data-holder-rendered="true" style="width: 80px; height: 80px;">
								</a>
								<div class="media-body">
									<h4 class="media-heading">Media heading</h4>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
										vestibulum in vulputate at, tempus viverra turpis.Candy biscuit sweet roll pudding topping candy canes jujubes
										lemon drops jelly-o.</p>
									<div class="media">
										<a>
											<img alt="96x96" class="media-object d-flex mr-3" data-src="holder.js/96x96" src="assets/img/portrait/small/avatar-s-7.png" data-holder-rendered="true" style="width: 80px; height: 80px;">
										</a>
										<div class="media-body">
											<h4 class="media-heading">Nested media heading</h4>
											<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus
												odio, vestibulum in vulputate at, tempus viverra turpis.Candy biscuit sweet roll pudding topping candy canes
												jujubes lemon drops jelly-o. </p>
											<div class="media">
												<a>
													<img alt="96x96" class="media-object d-flex mr-3" data-src="holder.js/96x96" src="assets/img/portrait/small/avatar-s-12.png" data-holder-rendered="true" style="width: 80px; height: 80px;">
												</a>
												<div class="media-body">
													<h4 class="media-heading">Nested media heading</h4>
													<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus
														odio, vestibulum in vulputate at, tempus viverra turpis.Candy biscuit sweet roll pudding topping candy canes
														jujubes lemon drops jelly-o.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="media">
										<a>
											<img alt="96x96" class="media-object d-flex mr-3" data-src="holder.js/96x96" src="assets/img/portrait/small/avatar-s-6.png" data-holder-rendered="true" style="width: 80px; height: 80px;">
										</a>
										<div class="media-body">
											<h4 class="media-heading">Nested media heading</h4>
											<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus
												odio, vestibulum in vulputate at, tempus viverra turpis.Candy biscuit sweet roll pudding topping candy canes
												jujubes lemon drops jelly-o. </p>
										</div>
									</div>
								</div>
							</li>
							<li class="media">
								<a>
									<img alt="96x96" class="media-object d-flex mr-3" data-src="holder.js/96x96" src="assets/img/portrait/small/avatar-s-24.png" data-holder-rendered="true" style="width: 80px; height: 80px;">
								</a>
								<div class="media-body">
									<h4 class="media-heading">Nested media heading</h4>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
										vestibulum in vulputate at, tempus viverra turpis.Candy biscuit sweet roll pudding topping candy canes jujubes
										lemon drops jelly-o.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--Media Aligned Left Ends-->

		<!--Media Aligned Right Starts-->
		<div class="col-lg-12 col-xl-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Media Aligned Right</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<ul class="media-list media-bordered pl-0">
							<li class="media">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Media heading</h4>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
										vestibulum in vulputate at, tempus viverra turpis.Candy biscuit sweet roll pudding topping candy canes jujubes
										lemon drops jelly-o.</p>
									<div class="media">
										<div class="media-body text-right mr-3">
											<h4 class="media-heading">Nested media heading</h4>
											<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus
												odio, vestibulum in vulputate at, tempus viverra turpis.Candy biscuit sweet roll pudding topping candy canes
												jujubes lemon drops jelly-o.</p>
											<div class="media">
												<div class="media-body text-right mr-3">
													<h4 class="media-heading">Nested media heading</h4>
													<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus
														odio, vestibulum in vulputate at, tempus viverra turpis.Candy biscuit sweet roll pudding topping candy canes
														jujubes lemon drops jelly-o.</p>
												</div>
												<a>
													<img alt="96x96" class="media-object d-flex mr-3" data-src="holder.js/96x96" src="assets/img/portrait/small/avatar-s-9.png" data-holder-rendered="true" style="width: 80px; height: 80px;">
												</a>
											</div>
										</div>
										<a>
											<img alt="96x96" class="media-object d-flex mr-3" data-src="holder.js/96x96" src="assets/img/portrait/small/avatar-s-11.png" data-holder-rendered="true" style="width: 80px; height: 80px;">
										</a>
									</div>
									<div class="media">
										<div class="media-body text-right mr-3">
											<h4 class="media-heading">Nested media heading</h4>
											<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus
												odio, vestibulum in vulputate at, tempus viverra turpis.Candy biscuit sweet roll pudding topping candy canes
												jujubes lemon drops jelly-o.</p>
										</div>
										<a>
											<img alt="96x96" class="media-object d-flex mr-3" data-src="holder.js/96x96" src="assets/img/portrait/small/avatar-s-13.png" data-holder-rendered="true" style="width: 80px; height: 80px;">
										</a>
									</div>
								</div>
								<a>
									<img alt="96x96" class="media-object d-flex mr-3" data-src="holder.js/96x96" src="assets/img/portrait/small/avatar-s-18.png" data-holder-rendered="true" style="width: 80px; height: 80px;">
								</a>
							</li>
							<li class="media">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Nested media heading</h4>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
										vestibulum in vulputate at, tempus viverra turpis.Candy biscuit sweet roll pudding topping candy canes jujubes
										lemon drops jelly-o.</p>
								</div>
								<a>
									<img alt="96x96" class="media-object d-flex mr-3" data-src="holder.js/96x96" src="assets/img/portrait/small/avatar-s-12.png" data-holder-rendered="true" style="width: 80px; height: 80px;">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--Media Aligned Right Ends-->
	</div>
</section>
<!-- Media List end -->

<!-- Media Alignment start -->
<section id="media-alignment">
	<div class="row text-left">
		<div class="col-sm-12">
			<div class="content-header">Media Alignment</div>
			<p class="content-sub-header">The images or other media can be aligned top, middle, or bottom. The default is top aligned.<br> Now, for vertical align,
				Top alignment use <code>.align-self-start</code> class. For Middle alignment, use <code>.align-self-center</code> and
				For Bottom alignment, use <code>.align-self-end</code> with left or right aligned class.</p>
		</div>
	</div>
	<div class="row text-left" matchHeight ="card">
		<!--Left Media vertical Aligned Starts-->
		<div class="col-md-12 col-lg-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Media Aligned Left</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="media-list media-bordered">
							<div class="media">
								<a class="align-self-start">
									<img class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-4.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
								<div class="media-body">
									<h4 class="media-heading">Top Aligned Media</h4>
									<p>Chocolate bar apple pie lollipop pastry candy canes. Candy soufflé brownie toffee tootsie roll. Brownie lemon drops
										chocolate cake donut croissant cotton candy ice cream. Cookie caramels brownie carrot cake macaroon brownie pastry.
										Donut powder croissant tootsie roll cake cupcake. Cake tart icing jelly-o ice cream tootsie roll bear claw toffee
										brownie. Sugar plum danish muffin gummi bears.</p>
								</div>
							</div>
							<div class="media">
								<a class="align-self-center">
									<img class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-12.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
								<div class="media-body">
									<h4 class="media-heading">Middle Aligned Media</h4>
									<p>Dragée topping chocolate dragée icing gingerbread. Ice cream jujubes pie sweet roll sweet roll marshmallow powder.
										Cotton candy dessert apple pie chocolate cake dessert lemon drops topping gingerbread biscuit. Topping halvah wafer
										croissant jelly tootsie roll. Candy jujubes gummi bears sweet roll dessert. Apple pie jelly gummies tiramisu macaroon
										tiramisu oat cake. Apple pie tiramisu cake chocolate cake topping danish sweet apple pie sugar plum.</p>
								</div>
							</div>
							<div class="media">
								<a class="align-self-end">
									<img class="media-object d-flex mr-3" src="assets/img/portrait/small/avatar-s-19.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
								<div class="media-body">
									<h4 class="media-heading">Bottom Aligned Media</h4>
									<p>Sweet sesame snaps dragée chocolate tiramisu cotton candy sweet roll bonbon dessert. Chocolate cake tiramisu dragée.
										Carrot cake pudding marshmallow fruitcake carrot cake. Brownie cupcake bonbon sweet lemon drops. Lollipop danish
										jelly beans cotton candy marshmallow brownie. Brownie pastry tiramisu candy oat cake tiramisu halvah cookie tart.
										Cotton candy danish gingerbread powder liquorice.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Left Media vertical Aligned Ends-->

		<!--Right Media vertical Aligned Starts-->
		<div class="col-md-12 col-lg-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Right Aligned Media</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="media-list media-bordered">
							<div class="media">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Top Aligned Media</h4>
									<p>Gummi bears marshmallow sweet roll. Chocolate bar halvah candy tart tart chocolate tart muffin. Cheesecake chocolate
										bar gummi bears. Cookie topping chocolate biscuit jujubes. Cheesecake muffin danish candy chocolate sweet roll
										candy jelly powder. Chocolate marzipan dragée. Biscuit oat cake jelly beans brownie donut ice cream biscuit. Soufflé
										soufflé dessert cotton candy chupa chups lemon drops. </p>
								</div>
								<a class="align-self-start">
									<img class="media-object d-flex mr-3 rounded-circle" src="assets/img/portrait/small/avatar-s-11.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
							</div>
							<div class="media">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Middle Aligned Media</h4>
									<p>Powder jelly topping pastry chocolate icing bonbon powder. Lollipop brownie sugar plum sugar plum carrot cake donut.
										Pastry sugar plum apple pie sesame snaps. Tart brownie gummi bears pie cheesecake cake. Tootsie roll lemon drops
										oat cake muffin danish halvah cookie chocolate croissant. Apple pie oat cake liquorice sesame snaps. Jelly-o jelly-o
										dragée topping. Sugar plum danish muffin gummi bears.</p>
								</div>
								<a class="align-self-center">
									<img class="media-object d-flex mr-3 rounded-circle" src="assets/img/portrait/small/avatar-s-9.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
							</div>
							<div class="media">
								<div class="media-body text-right mr-3">
									<h4 class="media-heading">Bottom Aligned Media</h4>
									<p>Ice cream lemon drops marshmallow sweet carrot cake marshmallow candy macaroon cupcake. Tart carrot cake fruitcake.
										Marzipan liquorice gummies oat cake. Danish jelly beans dessert sweet roll chupa chups candy canes gummies jujubes
										soufflé. Cheesecake sweet roll candy muffin halvah dessert candy soufflé. Donut cupcake caramels pastry.Candy carrot
										cake liquorice chocolate bar gummi bears brownie donut. </p>
								</div>
								<a class="align-self-end">
									<img class="media-object d-flex mr-3 rounded-circle" src="assets/img/portrait/small/avatar-s-24.png" alt="Generic placeholder image" style="width: 80px;height: 80px;" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Right Media vertical Aligned Ends-->
	</div>
</section>
<!-- Media Alignment ends -->