<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Helper Classes</div>
    </div>
</div>
<!-- Spacing -->
<section id="spacing" class="card ">
    <div class="card-header">
        <h4 class="card-title">Spacing</h4>
    </div>
    <div class="card-body">
        <div class="card-block">
            <div class="card-text">
                <p>Assign <code class="highlighter-rouge">margin</code> or <code class="highlighter-rouge">padding</code> to
                    an element or a subset of its sides with shorthand classes. Includes support for individual properties,
                    all properties, and vertical and horizontal properties. All classes are multiples on the global default
                    value, <code class="highlighter-rouge">1rem</code>.</p>


                <p>The classes are named using the format: <code class="highlighter-rouge"><span class="p">&#123;</span><span class="err">property</span><span class="p">&#125;</span><span class="err">-</span><span class="p">&#123;</span><span class="err">sides</span><span class="p">&#125;</span><span class="err">-</span><span class="p">&#123;</span><span class="err">size</span><span class="p">&#125;</span></code></p>
                <ul>
                    <li><code class="highlighter-rouge">m</code> - for classes that set <code class="highlighter-rouge">margin</code></li>
                    <li><code class="highlighter-rouge">p</code> - for classes that set <code class="highlighter-rouge">padding</code></li>
                </ul>

                <p>This table contain class to add element's top, bottom, left, right & all side margin.</p>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.mt-&#123;size&#125;</code></td>
                            <td>To set margin top use <code>.mt-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>                            is value between 0-3.</td>
                        </tr>
                        <tr>
                            <td><code>.mb-&#123;size&#125;</code></td>
                            <td>To set margin bottom use <code>.mb-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>                            is value between 0-3.</td>
                        </tr>
                        <tr>
                            <td><code>.ml-&#123;size&#125;</code></td>
                            <td>To set margin left use <code>.ml-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>                            is value between 0-3.</td>
                        </tr>
                        <tr>
                            <td><code>.mr-&#123;size&#125;</code></td>
                            <td>To set margin right use <code>.mr-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>                            is value between 0-3.</td>
                        </tr>
                        <tr>
                            <td><code>.mx-&#123;size&#125;</code></td>
                            <td>To set both margin left & right use <code>.mx-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>                            is value between 0-3.</td>
                        </tr>
                        <tr>
                            <td><code>.my-&#123;size&#125;</code></td>
                            <td>To set both margin top & bottom use <code>.my-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>                            is value between 0-3.</td>
                        </tr>
                        <tr>
                            <td><code>.ma-&#123;size&#125;</code></td>
                            <td>To set margin 4 sides of the element use <code>.ma-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>                            is value between 0-3.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-text">
                <p>This table contain class to add element's top, bottom, left, right & all side padding.</p>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.pt-&#123;size&#125;</code></td>
                            <td>To set padding top use <code>.pt-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>                            is value between 0-3.</td>
                        </tr>
                        <tr>
                            <td><code>.pb-&#123;size&#125;</code></td>
                            <td>To set padding bottom use <code>.pb-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>                            is value between 0-3.</td>
                        </tr>
                        <tr>
                            <td><code>.pl-&#123;size&#125;</code></td>
                            <td>To set padding left use <code>.pl-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>                            is value between 0-3.</td>
                        </tr>
                        <tr>
                            <td><code>.pr-&#123;size&#125;</code></td>
                            <td>To set padding right use <code>.pr-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>                            is value between 0-3.</td>
                        </tr>
                        <tr>
                            <td><code>.px-&#123;size&#125;</code></td>
                            <td>To set both padding left & right use <code>.px-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>                            is value between 0-3.</td>
                        </tr>
                        <tr>
                            <td><code>.py-&#123;size&#125;</code></td>
                            <td>To set both padding top & bottom use <code>.py-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>                            is value between 0-3.</td>
                        </tr>
                        <tr>
                            <td><code>.pa-&#123;size&#125;</code></td>
                            <td>To set padding 4 sides of the element use <code>.pa-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>                            is value between 0-3.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-text">
                <p>Where <em>size</em> is one of:</p>
                <ul>
                    <li><code class="highlighter-rouge">0</code> - for classes that eliminate the <code class="highlighter-rouge">margin</code>                        or <code class="highlighter-rouge">padding</code> by setting it to <code class="highlighter-rouge">0</code></li>
                    <li><code class="highlighter-rouge">1</code> - (by default) for classes that set the <code class="highlighter-rouge">margin</code>                        or <code class="highlighter-rouge">padding</code> to <code class="highlighter-rouge">$spacer-x</code>                        or
                        <code class="highlighter-rouge">$spacer-y</code></li>
                    <li><code class="highlighter-rouge">2</code> - (by default) for classes that set the <code class="highlighter-rouge">margin</code>                        or <code class="highlighter-rouge">padding</code> to <code class="highlighter-rouge">$spacer-x * 1.5</code>                        or <code class="highlighter-rouge">$spacer-y * 1.5</code></li>
                    <li><code class="highlighter-rouge">3</code> - (by default) for classes that set the <code class="highlighter-rouge">margin</code>                        or <code class="highlighter-rouge">padding</code> to <code class="highlighter-rouge">$spacer-x * 3</code>                        or <code class="highlighter-rouge">$spacer-y * 3</code></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/ Spacing -->

<!-- Content helpers -->
<section id="content-helpers" class="card ">
    <div class="card-header">
        <h4 class="card-title">Content helpers</h4>
    </div>
    <div class="card-body">
        <!--Display-->
        <div class="card-block">
            <div class="card-text">
                <h5 class="text-bold-600 my-1">Display</h5>
                <p>Content helpers classes provides display, position, z-index, edges, vertical alignment, cursor, overflow
                    & list options.</p>
                <p>Add one of these classes to change the elemets' display properties.</p>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.display-inline</code></td>
                            <td>Forces the element to behave like an inline element.</td>
                        </tr>
                        <tr>
                            <td><code>.display-inline-block</code></td>
                            <td>Forces the element to behave like an inline-block element.</td>
                        </tr>
                        <tr>
                            <td><code>.display-block</code></td>
                            <td>Forces the element to behave like an block element.</td>
                        </tr>
                        <tr>
                            <td><code>.display-hidden</code></td>
                            <td>Forces the element to hide on all viewports.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!--/Display-->

        <!--position-->
            <div class="card-text">
                <h5 class="text-bold-600 my-1">Position</h5>
                <p>Add one of these classes to set the elemets' position properties.</p>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.position-fixed</code></td>
                            <td>Changes element's position to fixed.</td>
                        </tr>
                        <tr>
                            <td><code>.position-relative</code></td>
                            <td>Changes element's position to relative.</td>
                        </tr>
                        <tr>
                            <td><code>.position-absolute</code></td>
                            <td>Changes element's position to absolute.</td>
                        </tr>
                        <tr>
                            <td><code>.position-static</code></td>
                            <td>Changes element's position to static.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!--/position-->

        <!--vertical alignment-->
            <div class="card-text">
                <h5 class="text-bold-600 my-1">Vertical alignment</h5>
                <p>Add one of these classes to change the elemets' vertical alignment properties.</p>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.valign-top</code></td>
                            <td>Changes element's vertical alignment to top.</td>
                        </tr>
                        <tr>
                            <td><code>.valign-middle</code></td>
                            <td>Changes element's vertical alignment to middle.</td>
                        </tr>
                        <tr>
                            <td><code>.valign-bottom</code></td>
                            <td>Changes element's vertical alignment to bottom.</td>
                        </tr>
                        <tr>
                            <td><code>.valign-baseline</code></td>
                            <td>Changes element's vertical alignment to baseline.</td>
                        </tr>
                        <tr>
                            <td><code>.valign-text-top</code></td>
                            <td>Top of the element is aligned with the top of the parent element's font.</td>
                        </tr>
                        <tr>
                            <td><code>.valign-text-bottom</code></td>
                            <td>The bottom of the element is aligned with the bottom of the parent element's font.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!--/vertical alignment-->

        <!--Edges-->
            <div class="card-text">
                <h5 class="text-bold-600 my-1">Edges</h5>
                <p>Add one of these to removes the slected edge of the elements, works with absolute, fixed and relative positioned
                    elements.</p>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.no-edge-top</code></td>
                            <td>Removes the top edge of the element.</td>
                        </tr>
                        <tr>
                            <td><code>.no-edge-bottom</code></td>
                            <td>Removes the bottom edge of the element.</td>
                        </tr>
                        <tr>
                            <td><code>.no-edge-left</code></td>
                            <td>Removes the left edge of the element.</td>
                        </tr>
                        <tr>
                            <td><code>.no-edge-right</code></td>
                            <td>Removes the right edge of the element.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!--/Edges-->

        <!--Overflow-->
            <div class="card-text">
                <h5 class="text-bold-600 my-1">Overflow</h5>
                <p>Add one of these to class to change overflow of element.</p>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.overflow-visible</code></td>
                            <td>Default. The overflow is not clipped. It renders outside the element's box.</td>
                        </tr>
                        <tr>
                            <td><code>.overflow-hidden</code></td>
                            <td>The overflow is clipped, and the rest of the content will be invisible.</td>
                        </tr>
                        <tr>
                            <td><code>.overflow-auto</code></td>
                            <td>If overflow is clipped, a scrollbar should be added to see the rest of the content.</td>
                        </tr>
                        <tr>
                            <td><code>.overflow-scroll</code></td>
                            <td>The overflow is clipped, but a scrollbar is added to see the rest of the content.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        <!--List-->
            <div class="card-text my-1">
                <h5 class="text-bold-600 my-1">List</h5>
                <p>Add one of these to class to change list style.</p>
            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.no-bullets</code></td>
                            <td>No marker is shown in the list item.</td>
                        </tr>
                        <tr>
                            <td><code>.bullets-inside</code></td>
                            <td>Indents the marker and the text. The bullets appear inside the content flow</td>
                        </tr>
                        <tr>
                            <td><code>.list-style-circle</code></td>
                            <td>Set the list item marker to circle.</td>
                        </tr>
                        <tr>
                            <td><code>.list-style-square</code></td>
                            <td>Set the list item marker to square.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!--List-->
        </div>
    </div>
</section>
<!--/ Content helpers-->

<!-- Borders -->
<section id="borders" class="card ">
    <div class="card-header">
        <h4 class="card-title">Borders</h4>
    </div>
    <div class="card-body">
        <!--Add borders-->
        <div class="card-block">
            <div class="card-text my-1">
                <h5 class="text-bold-600">Add border</h5>
                <p>Add one of these to class to add border on the required side.</p>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.border</code></td>
                            <td>Add solid border of 1px on each side.</td>
                        </tr>
                        <tr>
                            <td><code>.border-top</code></td>
                            <td>Add solid border top of 1px.</td>
                        </tr>
                        <tr>
                            <td><code>.border-bottom</code></td>
                            <td>Add solid border bottom of 1px.</td>
                        </tr>
                        <tr>
                            <td><code>.border-left</code></td>
                            <td>Add solid border left of 1px.</td>
                        </tr>
                        <tr>
                            <td><code>.border-right</code></td>
                            <td>Add solid border right of 1px.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!--/Add borders-->

        <!--Remove borders-->
            <div class="card-text my-1">
                <h5 class="text-bold-600">Remove border</h5>
                <p>Add one of these to class to remove border on the required side.</p>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.no-border</code></td>
                            <td>Remove border from all side.</td>
                        </tr>
                        <tr>
                            <td><code>.no-border-top</code></td>
                            <td>Remove border from the top side.</td>
                        </tr>
                        <tr>
                            <td><code>.no-border-bottom</code></td>
                            <td>Remove border from the bottom side.</td>
                        </tr>
                        <tr>
                            <td><code>.no-border-left</code></td>
                            <td>Remove border from the left side.</td>
                        </tr>
                        <tr>
                            <td><code>.no-border-right</code></td>
                            <td>Remove border from the right side.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!--/Remove borders-->


        <!--Border widths-->
            <div class="card-text my-1">
                <h5 class="text-bold-600">Border widths</h5>
                <p>Add one of these to class to change border width on the required side.</p>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.border-2</code></td>
                            <td>Chande border width to 2px on each side.</td>
                        </tr>
                        <tr>
                            <td><code>.border-top-2</code></td>
                            <td>Chande border width to 2px on top side.</td>
                        </tr>
                        <tr>
                            <td><code>.border-bottom-2</code></td>
                            <td>Chande border width to 2px on bottom side.</td>
                        </tr>
                        <tr>
                            <td><code>.border-left-2</code></td>
                            <td>Chande border width to 2px on left side.</td>
                        </tr>
                        <tr>
                            <td><code>.border-right-2</code></td>
                            <td>Chande border width to 2px on right side.</td>
                        </tr>
                        <tr>
                            <td><code>.border-3</code></td>
                            <td>Chande border width to 3px on each side.</td>
                        </tr>
                        <tr>
                            <td><code>.border-top-3</code></td>
                            <td>Chande border width to 3px on top side.</td>
                        </tr>
                        <tr>
                            <td><code>.border-bottom-3</code></td>
                            <td>Chande border width to 3px on bottom side.</td>
                        </tr>
                        <tr>
                            <td><code>.border-left-3</code></td>
                            <td>Chande border width to 3px on left side.</td>
                        </tr>
                        <tr>
                            <td><code>.border-right-3</code></td>
                            <td>Chande border width to 3px on right side.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!--/Border width-->

        <!--Remove border radius-->
            <div class="card-text my-1">
                <h5 class="text-bold-600">Remove border radius</h5>
                <p>Add one of these to class to remove border radius on the required side.</p>
            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.no-border-top-radius</code></td>
                            <td>Remove border radius from top side.</td>
                        </tr>
                        <tr>
                            <td><code>.no-border-bottom-radius</code></td>
                            <td>Remove border radius from bottom side.</td>
                        </tr>
                        <tr>
                            <td><code>.no-border-top-left-radius</code></td>
                            <td>Remove border radius from top left side.</td>
                        </tr>
                        <tr>
                            <td><code>.no-border-top-right-radius</code></td>
                            <td>Remove border radius from top right side.</td>
                        </tr>
                        <tr>
                            <td><code>.no-border-bottom-left-radius</code></td>
                            <td>Remove border radius from bottom left side.</td>
                        </tr>
                        <tr>
                            <td><code>.no-border-bottom-right-radius</code></td>
                            <td>Remove border radius from bottom right side.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!--/Remove borders-->
        </div>
    </div>
</section>
<!--/ Borders-->

<!-- Size -->
<section id="size" class="card ">
    <div class="card-header">
        <h4 class="card-title">Size</h4>
    </div>
    <div class="card-body">
        <div class="card-block">
            <!--Width & Height-->
            <div class="card-text my-1">
                <h5 class="text-bold-600">Width & Height</h5>
                <p>Add one of these to class to set width of the content.</p>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.fit</code></td>
                            <td>Set content maximum width 100%.</td>
                        </tr>
                        <tr>
                            <td><code>.half-width</code></td>
                            <td>Set content width 50%.</td>
                        </tr>
                        <tr>
                            <td><code>.full-width</code></td>
                            <td>Set content width 100%.</td>
                        </tr>
                        <tr>
                            <td><code>.full-height</code></td>
                            <td>Set content height 100%.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--/Width & Height-->


            <!--Fixed Width-->
            <div class="card-text my-1">
                <h5 class="text-bold-600">Fixed Width</h5>
                <p>Add one of these to class to set fixed width of the content.</p>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.width-&#123;size&#125;</code></td>
                            <td>Set content fixed width in pixel of selected size where size can be 50, 100, 150, 200, 250, 300,
                                350, 400, 450, 500, 550, 600, 650, 700, 750 and 800. i.e <code>.width-50</code></td>
                        </tr>
                        <tr>
                            <td><code>.width-&#123;size&#125;-per</code></td>
                            <td>Set content fixed width in percentage of selected size where size can be 5%, 10%, 15%, 20%, 25%,
                                30%, 35%, 40%, 45%, 50%, 55%, 60%, 65%, 70%, 75% and 80%. i.e <code>.width-5-per</code></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--/Fixed Width-->

            <!--Fixed Height-->
            <div class="card-text my-1">
                <h5 class="text-bold-600">Fixed Height</h5>
                <p>Add one of these to class to set fixed height of the content.</p>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.height-&#123;size&#125;</code></td>
                            <td>Set content fixed height in pixel of selected size where size can be 50, 100, 150, 200, 250, 300,
                                350, 400, 450, 500, 550, 600, 650, 700, 750 and 800. i.e <code>.height-50</code></td>
                        </tr>
                        <tr>
                            <td><code>.height-&#123;size&#125;-per</code></td>
                            <td>Set content fixed height in percentage of selected size where size can be 5%, 10%, 15%, 20%, 25%,
                                30%, 35%, 40%, 45%, 50%, 55%, 60%, 65%, 70%, 75% and 80%. i.e <code>.height-5-per</code></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--/Fixed Height-->
        </div>
    </div>
</section>
<!-- Size -->

<!--Image-->
<section id="image" class="card">
    <div class="card-header">
        <h4 class="card-title">Image</h4>
    </div>
    <div class="card-body">
        <div class="card-block">
            <div class="card-text">
                <p>Add one of these to class to change image size and other property.</p>
            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>Classes</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.bg-cover</code></td>
                            <td>Scale the background image to be as large as possible so that the background area is completely covered
                                by the background image.</td>
                        </tr>
                        <tr>
                            <td><code>.bg-repeat</code></td>
                            <td> Do not repeat the background image.</td>
                        </tr>
                        <tr>
                            <td><code>.bg-no-repeat</code></td>
                            <td>Repeat the background image.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--/Image-->