<!-- Fabs (Floating Action Buttons) in cards start -->
<section id="fabs-examples">
    <div class="row text-left">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">Fabs (Floating Action Buttons) in cards</div>
            <p class="content-sub-header">Cards require a small amount of markup and classes to provide you with as much control as possible. These classes
                and markup are flexible though and can typically be remixed and extended with ease. For example, if your
                card has no flush content like images, feel free to put the <code>.card-block</code> class on the <code>.card</code>                element to consolidate your markup.</p>
        </div>
    </div>

    <div class="row text-left" matchHeight ="card">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        <img class="card-img-top img-fluid" src="assets/img/photos/14.jpg" alt="Card image cap">
                        <h4 class="card-title">Card title</h4>
                        <a class="btn btn-floating halfway-fab bg-warning"><i class="ft-plus"></i></a>
                    </div>
                    <div class="card-block">
                        <p class="card-text">Icing powder caramels macaroon. Toffee sugar plum brownie pastry gummies jelly.</p>
                        <a class="btn btn-raised btn-warning">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                    </div>
                    <div class="card-img">
                        <img class="img-fluid" src="assets/img/photos/15.jpg" alt="Card image cap">
                        <a class="btn btn-floating halfway-fab btn-large bg-danger"><i class="ft-plus"></i></a>
                    </div>
                    <div class="card-block">
                        <p class="card-text">Bear claw sesame snaps gummies chocolate.</p>
                        <a class="card-link danger">Card link</a>
                        <a class="card-link danger">Another link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img src="assets/img/photos/17.jpg" alt="Random first slide">
                                <div class="carousel-caption">
                                    <h3>First slide label</h3>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/img/photos/13.jpg" alt="Random second slide">
                                <div class="carousel-caption">
                                    <h3>Second slide label</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/img/photos/12.jpg" alt="Random third slide">
                                <div class="carousel-caption">
                                    <h3>Third slide label</h3>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                        <a class="btn btn-floating halfway-fab btn-large bg-warning"><i class="ft-plus"></i></a>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Sweet halvah dragée jelly-o halvah carrot cake oat cake. Donut jujubes jelly chocolate cake.</p>
                        <a class="btn btn-raised btn-warning">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Fabs section end -->

<!-- Horizontal cards start -->
<section id="horizontal-examples">
    <div class="row text-left">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">Horizontal cards</div>
            <p class="content-sub-header">Cards with horizontal image.</p>
        </div>
    </div>

    <div class="row text-left" matchHeight ="card">
        <div class="col-xl-6 col-lg-12">
            <div class="card horizontal">
                <div class="card-body">
                    <div class="card-img">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img src="assets/img/photos/01.jpg" alt="Random first slide">
                                <div class="carousel-caption">
                                    <h3>First slide label</h3>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/img/photos/02.jpg" alt="Random second slide">
                                <div class="carousel-caption">
                                    <h3>Second slide label</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/img/photos/03.jpg" alt="Random third slide">
                                <div class="carousel-caption">
                                    <h3>Third slide label</h3>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                    <div class="card-stacked align-self-center">
                        <div class="px-3">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Sweet halvah dragée jelly-o halvah carrot cake oat cake.</p>
                            <a class="btn btn-raised btn-success">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <div class="card horizontal">
                <div class="card-body">
                    <div class="card-stacked align-self-center">
                        <div class="px-3">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Toffee sugar plum brownie pastry gummies jelly.</p>
                            <a class="btn btn-raised btn-danger">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card-img">
                        <img class="card-img-top img-fluid" src="assets/img/photos/06.jpg" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Horizontal cards end -->


<!-- Overlap Image Cards start -->
<section id="overlap-image-examples">
    <div class="row text-left">
        <div class="col-12 mt-3 mb-3">
            <div class="content-header">Overlap Image Cards</div>
            <p class="content-sub-header">Overlap Image Cards</p>
        </div>
    </div>

    <div class="row text-left" matchHeight ="card">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-inverse bg-primary text-center">
                <div class="card-body">
                    <div class="card-img overlap">
                        <img src="assets/img/elements/11.png" alt="element 06" width="190" class="mb-1">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">New Arrival</h4>
                        <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-inverse bg-danger text-center">
                <div class="card-body">
                    <div class="card-img overlap">
                        <img src="assets/img/elements/14.png" alt="element 03" width="170">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Brand Minute</h4>
                        <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-inverse bg-warning text-center">
                <div class="card-body">
                    <div class="card-img overlap">
                        <img src="assets/img/elements/07.png" alt="element 07" width="225">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Brand Minute</h4>
                        <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Overlap Image Cards end -->

<!-- Weather cards start -->
<section id="weather-examples">
    <div class="row text-left">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">Weather cards</div>
            <p class="content-sub-header">Weekly weather cards.</p>
        </div>
    </div>

    <div class="row text-left" matchHeight ="card">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        <img class="card-img-top img-fluid height-300" src="assets/img/photos/weather-1.jpg" alt="Card image cap">
                        <h4 class="card-title">Sunny</h4>
                        <a class="btn btn-floating halfway-fab bg-primary"><i class="ft-plus"></i></a>
                    </div>
                    <div class="card-block mt-2">
                        <div class="row">
                            <div class="col-2 text-center">
                                <span class="display-block">Mon</span>
                                <i class="wi wi-day-sunny display-block primary font-large-1 my-3"></i>
                                <span class="display-block">13&deg;</span>
                            </div>
                            <div class="col-2 text-center">
                                <span class="display-block">Tue</span>
                                <i class="wi wi-day-cloudy display-block primary font-large-1 my-3"></i>
                                <span class="display-block">12&deg;</span>
                            </div>
                            <div class="col-2 text-center">
                                <span class="display-block">Wed</span>
                                <i class="wi wi-day-cloudy-gusts display-block primary font-large-1 my-3"></i>
                                <span class="display-block">10&deg;</span>
                            </div>
                            <div class="col-2 text-center">
                                <span class="display-block">Thu</span>
                                <i class="wi wi-day-cloudy-windy display-block primary font-large-1 my-3"></i>
                                <span class="display-block">12&deg;</span>
                            </div>
                            <div class="col-2 text-center">
                                <span class="display-block">Fri</span>
                                <i class="wi wi-day-fog display-block primary font-large-1 my-3"></i>
                                <span class="display-block">9&deg;</span>
                            </div>
                            <div class="col-2 text-center">
                                <span class="display-block">Sat</span>
                                <i class="wi wi-day-lightning display-block primary font-large-1 my-3"></i>
                                <span class="display-block">6&deg;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        <img class="card-img-top img-fluid height-300" src="assets/img/photos/weather-2.png" alt="Card image cap">
                        <h4 class="card-title">Snowy</h4>
                        <a class="btn btn-floating halfway-fab bg-danger"><i class="ft-plus"></i></a>
                    </div>
                    <div class="card-block mt-2">
                        <div class="row">
                            <div class="col-2 text-center">
                                <span class="display-block">Mon</span>
                                <i class="wi wi-day-cloudy display-block danger font-large-1 my-3"></i>
                                <span class="display-block">13&deg;</span>
                            </div>
                            <div class="col-2 text-center">
                                <span class="display-block">Tue</span>
                                <i class="wi wi-day-hail display-block danger font-large-1 my-3"></i>
                                <span class="display-block">12&deg;</span>
                            </div>
                            <div class="col-2 text-center">
                                <span class="display-block">Wed</span>
                                <i class="wi wi-day-showers display-block danger font-large-1 my-3"></i>
                                <span class="display-block">10&deg;</span>
                            </div>
                            <div class="col-2 text-center">
                                <span class="display-block">Thu</span>
                                <i class="wi wi-day-sprinkle display-block danger font-large-1 my-3"></i>
                                <span class="display-block">12&deg;</span>
                            </div>
                            <div class="col-2 text-center">
                                <span class="display-block">Fri</span>
                                <i class="wi wi-day-storm-showers display-block danger font-large-1 my-3"></i>
                                <span class="display-block">9&deg;</span>
                            </div>
                            <div class="col-2 text-center">
                                <span class="display-block">Sat</span>
                                <i class="wi wi-day-sunny display-block danger font-large-1 my-3"></i>
                                <span class="display-block">6&deg;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Weather cards end -->


<!-- Background variants section start -->
<section id="bg-variants">
    <div class="row text-left">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">Background variants</div>
            <p class="content-sub-header">Cards include their own variant classes for quickly changing the <code>background-color</code> and <code>border-color</code>                of a card. Darker colors require the use of <code>.card-inverse</code>.<br> Cards include a class for quickly
                toggling the text color. By default, cards use dark text and assume a light background. Add <code>.card-inverse</code>                for white text and specify the <code>background-color</code> and <code>border-color</code> to go with it.
                <br>You can also use <code>.card-inverse</code> with the contextual backgrounds variants.</p>
        </div>
    </div>
    <div class="row text-left" matchHeight ="card">
        <div class="col-md-6 col-sm-12">
            <div class="card card-inverse bg-primary text-center">
                <div class="card-body">
                    <div class="card-block pt-3">
                        <div class="row d-flex">
                            <div class="col align-self-center">
                                <img src="assets/img/elements/01.png" alt="element 01" width="190">
                            </div>
                            <div class="col align-self-center">
                                <h4 class="card-title mt-3">Brand Minute</h4>
                                <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                                <button class="btn btn-raised btn-primary btn-darken-3">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-inverse bg-success text-center">
                <div class="card-body">
                    <div class="card-block">
                        <img src="assets/img/elements/06.png" alt="element 02" width="225" class="mb-1">
                        <h3 class="card-title">Ceramic Bottle</h3>
                        <p class="card-text">456 items</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-inverse bg-danger text-center">
                <div class="card-body">
                    <div class="card-block pt-3">
                        <div class="row d-flex">
                            <div class="col align-self-center">
                                <h4 class="card-title mt-3">Brand Minute</h4>
                                <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                                <button class="btn btn-raised btn-danger btn-darken-3">Buy Now</button>
                            </div>
                            <div class="col align-self-center">
                                <img src="assets/img/elements/14.png" alt="element 03" width="170" class="float-right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-inverse bg-info text-center">
                <div class="card-body">
                    <div class="card-block pt-3">
                        <div class="row d-flex">
                            <div class="col align-self-center">
                                <img src="assets/img/elements/07.png" alt="element 04" width="210" class="float-left mt-3">
                            </div>
                            <div class="col align-self-center">
                                <h4 class="card-title mt-3">New Arrival</h4>
                                <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                                <button class="btn btn-raised btn-info btn-darken-3">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-inverse bg-warning text-center">
                <div class="card-body">
                    <div class="card-block">
                        <img src="assets/img/elements/04.png" alt="element 05" width="250" class="mb-1">
                        <h4 class="card-title">Storage Device</h4>
                        <p class="card-text">945 items</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card card-inverse bg-primary text-center">
                <div class="card-body">
                    <div class="card-block pt-3">
                        <div class="row d-flex">
                            <div class="col align-self-center">
                                <h4 class="card-title mt-3">New Arrival</h4>
                                <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                                <button class="btn btn-raised btn-primary btn-darken-3 white">Buy Now</button>
                            </div>
                            <div class="col align-self-center">
                                <img src="assets/img/elements/11.png" alt="element 06" width="190" class="float-right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Background variants section end -->

<!-- Outline variants section start -->
<section id="outline-variants">
    <div class="row text-left">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">Outline variants</div>
            <p class="content-sub-header">In need of a colored card, but not the hefty background colors they bring? Replace the default modifier classes
                with the <code>.card-outline-*</code> ones to style just the <code>border-color</code> of a card.</p>
        </div>
    </div>
    <div class="row text-left" matchHeight ="card">
        <div class="col-md-6 col-sm-12">
            <div class="card card-outline-primary box-shadow-0 text-center">
                <div class="card-body">
                    <div class="card-block pt-3">
                        <div class="row d-flex">
                            <div class="col align-self-center">
                                <img src="assets/img/elements/01.png" alt="element 01" width="190">
                            </div>
                            <div class="col align-self-center">
                                <h4 class="card-title mt-3">Brand Minute</h4>
                                <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                                <button class="btn btn-raised btn-primary">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-outline-success box-shadow-0 text-center">
                <div class="card-body">
                    <div class="card-block">
                        <img src="assets/img/elements/06.png" alt="element 02" width="225" class="mb-1">
                        <h3 class="card-title">Ceramic Bottle</h3>
                        <p class="card-text">456 items</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-outline-danger box-shadow-0 text-center">
                <div class="card-body">
                    <div class="card-block pt-3">
                        <div class="row d-flex">
                            <div class="col align-self-center">
                                <h4 class="card-title mt-3">Brand Minute</h4>
                                <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                                <button class="btn btn-raised btn-danger btn-darken-3">Buy Now</button>
                            </div>
                            <div class="col align-self-center">
                                <img src="assets/img/elements/01.png" alt="element 03" width="190" class="float-right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-outline-info box-shadow-0 text-center">
                <div class="card-body">
                    <div class="card-block pt-3">
                        <div class="row d-flex">
                            <div class="col align-self-center">
                                <img src="assets/img/elements/07.png" alt="element 04" width="210" class="float-left mt-3">
                            </div>
                            <div class="col align-self-center">
                                <h4 class="card-title mt-3">New Arrival</h4>
                                <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                                <button class="btn btn-raised btn-info btn-darken-3">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-outline-warning box-shadow-0 text-center">
                <div class="card-body">
                    <div class="card-block">
                        <img src="assets/img/elements/04.png" alt="element 05" width="250" class="mb-1">
                        <h4 class="card-title">Storage Device</h4>
                        <p class="card-text">945 items</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-outline-primary box-shadow-0 text-center">
                <div class="card-body">
                    <div class="card-block pt-3">
                        <div class="row d-flex">
                            <div class="col align-self-center">
                                <h4 class="card-title mt-3">New Arrival</h4>
                                <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                                <button class="btn btn-raised btn-primary btn-darken-3 white">Buy Now</button>
                            </div>
                            <div class="col align-self-center">
                                <img src="assets/img/elements/11.png" alt="element 06" width="190" class="float-right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Outline variants section end -->

<!-- Groups section start -->
<section id="groups">
    <div class="row text-left">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">Groups</div>
            <p class="content-sub-header">Use card groups to render cards as a single, attached element with equal width and height columns. By default,
                card groups use <code>display: table;</code> and <code>table-layout: fixed;</code> to achieve their uniform
                sizing. However, enabling flexbox mode can switch that to use <code>display: flex;</code> and provide the
                same effect.</p>
        </div>
    </div>
    <div class="row text-left">
        <div class="col-12">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top img-fluid" src="assets/img/photos/04.jpg" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top img-fluid" src="assets/img/photos/01.jpg" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top img-fluid" src="assets/img/photos/06.jpg" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top img-fluid" src="assets/img/photos/02.jpg" alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Groups section end -->

<!-- Decks section start -->
<section id="decks">
    <div class="row text-left">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">Decks</div>
            <p class="content-sub-header">Need a set of equal width and height cards that aren’t attached to one another? Use card decks. By default, card
                decks require two wrapping elements: <code>.card-deck-wrapper</code> and a <code>.card-deck</code>. We use
                table styles for the sizing and the gutters on <code>.card-deck</code>. The <code>.card-deck-wrapper</code>                is used to negative margin out the <code>border-spacing</code> on the <code>.card-deck</code>.</p>
        </div>
    </div>
    <div class="row text-left">
        <div class="col-12">
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="assets/img/photos/05.jpg" alt="Card image cap" />
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="assets/img/photos/09.jpg" alt="Card image cap" />
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="assets/img/photos/02.jpg" alt="Card image cap" />
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="assets/img/photos/03.jpg" alt="Card image cap" />
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Decks section end -->


<!-- Columns section start -->
<section id="columns">
    <div class="row text-left">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">Columns</div>
            <p class="content-sub-header">Cards can be organized into Masonry-like columns with just CSS by wrapping them in <code>.card-columns</code>.
                Only applies to small devices and above.<br>
                <strong>Heads up!</strong> This is <strong>not available in IE9</strong> and below as they have no support
                for the column-* CSS properties.</p>
        </div>
    </div>
    <div class="row text-left">
        <div class="col-md-12 mt-1">
            <div class="card-columns">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top img-fluid" src="assets/img/photos/06.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="btn btn-outline-warning">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="card card-inverse bg-primary text-center">
                    <div class="card-body">
                        <div class="card-block pt-3">
                            <img src="assets/img/elements/01.png" alt="element 01" width="190" class="float-left img-fluid">
                            <h4 class="card-title mt-5">Brand Minute</h4>
                            <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                            <button class="btn btn-raised btn-primary btn-darken-3">Buy Now</button>
                        </div>
                    </div>
                </div>
                <div class="card card-inverse bg-warning text-center no-border box-shadow-0">
                    <div class="card-body">
                        <div class="card-block">
                            <img src="assets/img/elements/04.png" alt="element 05" width="250" class="mb-1 img-fluid">
                            <h4 class="card-title">Storage Device</h4>
                            <p class="card-text">945 items</p>
                        </div>
                    </div>
                </div>
                <div class="card card-inverse bg-success text-center no-border box-shadow-0">
                    <div class="card-body">
                        <div class="card-block">
                            <img src="assets/img/elements/06.png" alt="element 02" width="225" class="mb-1 img-fluid">
                            <h3 class="card-title">Ceramic Bottle</h3>
                            <p class="card-text">456 items</p>
                        </div>
                    </div>
                </div>
                <div class="card no-border box-shadow-0">
                    <div class="card-body">
                        <div class="card-block">
                            <h4 class="card-title">Bottom Image Cap</h4>
                            <p class="card-text">Jelly-o sesame snaps cheesecake topping. Cupcake fruitcake macaroon donut pastry gummies tiramisu
                                chocolate bar muffin. Dessert bonbon caramels brownie chocolate bar chocolate tart dragée.</p>
                            <p class="card-text">Cupcake fruitcake macaroon donut pastry gummies tiramisu chocolate bar muffin.</p>
                            <p class="card-text mt-1"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <img class="card-img-bottom img-fluid" src="assets/img/photos/11.jpg" alt="Card image cap">
                    </div>
                </div>
                <div class="card card-inverse no-border box-shadow-0">
                    <div class="card-body">
                        <img class="card-img img-fluid" src="assets/img/photos/05.jpg" alt="Card image">
                        <div class="card-img-overlay overlay-info">
                            <h4 class="card-title">Inverse Text</h4>
                            <p class="card-text">Sugar plum tiramisu sweet. Cake jelly marshmallow cotton candy chupa chups carrot cake topping
                                chupa chups.</p>
                            <p class="card-text"><small class="text-muted white">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="card card-inverse no-border box-shadow-0">
                    <div class="card-body">
                        <img class="card-img img-fluid" src="assets/img/photos/09.jpg" alt="Card image">
                        <div class="card-img-overlay overlay-warning">
                            <h4 class="card-title">Inverse Text</h4>
                            <p class="card-text">Sugar plum tiramisu sweet. Cake jelly marshmallow cotton candy chupa chups carrot cake topping
                                chupa chups.</p>
                            <p class="card-text"><small class="text-muted white">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="card card-outline-info text-center box-shadow-0">
                    <div class="card-body">
                        <img src="assets/img/elements/07.png" alt="element 04" width="210" class="float-left mt-3 img-fluid">
                        <div class="card-block pt-3">
                            <h4 class="card-title mt-3">New Arrival</h4>
                            <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                            <button class="btn btn-raised btn-info btn-darken-3">Buy Now</button>
                        </div>
                    </div>
                </div>
                <div class="card no-border box-shadow-0">
                    <div class="card-body">
                        <img class="card-img img-fluid" src="assets/img/photos/02.jpg" alt="Card image cap" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Columns section end -->