<!-- input groups start -->
<section class="input-groups" id="input-groups">
	<div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">Form Input Groups</div>
        </div>
    </div>
	<div class="row text-left" matchHeight ="card">
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Default Input group</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<p>Add span with <code>.input-group-text</code> class <b>before</b> <code>&lt;input&gt;</code></p>
						<fieldset>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">@</span>
								</div>
								<input type="text" class="form-control" placeholder="Addon to Left" aria-describedby="basic-addon1">
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group with Right Addon</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<p>Add span with <code>.input-group-text</code> class <b>after</b> <code>&lt;input&gt;</code></p>
						<fieldset>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Addon To Right" aria-describedby="basic-addon2">
								<div class="input-group-append">
									<span class="input-group-text" id="basic-addon2">@example.com</span>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group Addon on both side</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<p>Add span with <code>.input-group-text</code> class to <b>before &amp; after</b> <code>&lt;input&gt;</code></p>
						<fieldset>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">$</span>
								</div>
								<input type="text" class="form-control" placeholder="Addon On Both Side" aria-label="Amount (to the nearest dollar)">
								<div class="input-group-append">
									<span class="input-group-text">.00</span>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group addon with Icon</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<fieldset>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon3"><i class="ft-mail"></i></span>
								</div>
								<input type="text" class="form-control" placeholder="Addon to Left" aria-describedby="basic-addon3">
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group addon with Right Icon</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<fieldset>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Addon To Right" aria-describedby="basic-addon4">
								<div class="input-group-append">
									<span class="input-group-text" id="basic-addon4"><i class="ft-user"></i></span>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group addon with icon both side</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<fieldset>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="ft-phone"></i></span>
								</div>
								<input type="text" class="form-control" placeholder="Addon On Both Side" aria-label="Amount (to the nearest dollar)">
								<div class="input-group-append">
									<span class="input-group-text"><i class="ft-search"></i></span>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group addon with Spinner</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<fieldset>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon5"><i class="ft-rotate-cw spinner"></i></span>
								</div>
								<input type="text" class="form-control" placeholder="Addon to Left" aria-describedby="basic-addon5">
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group addon with Right Spinner</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<fieldset>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Addon To Right" aria-describedby="basic-addon6">
								<div class="input-group-append">
									<span class="input-group-text" id="basic-addon6"><i class="ft-refresh-ccw spinner"></i></span>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group addon with Spinner both side</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<fieldset>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="ft-rotate-cw spinner"></i></span>
								</div>
								<input type="text" class="form-control" placeholder="Addon On Both Side" aria-label="Amount (to the nearest dollar)">
								<div class="input-group-append">
									<span class="input-group-text"><i class="spinner ft-refresh-cw"></i></span>
								</div>
							</div>						
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- input groups end -->


<!-- Input Groups With Checkbox start -->
<section class="checkbox-input-group" id="input-group-checkbox">
	<div class="row text-left">
		<div class="col-12 mt-3 mb-1">
			<div class="content-header">Input group with Checkbox</div>
		</div>
	</div>
	<div class="row text-left" matchHeight ="card">
		<div class="col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group with checkbox</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<p>Add span with <code>.input-group-text</code> class <b>before</b> <code>&lt;input&gt;</code> text and Add checkbox inside.</p>
						<fieldset>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="checkbox-addon1">
										<input type="checkbox" aria-label="Checkbox for following text input">
									</span>
								</div>
								<input type="text" class="form-control" placeholder="Text input with Left checkbox " aria-describedby="checkbox-addon1" />
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group with radio</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<p>Add span with <code>.input-group-text</code> class <b>before</b> <code>&lt;input&gt;</code> text and Add radio inside.</p>
						<fieldset>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="radio-addon1">
										<input type="radio" aria-label="Radio button for following text input">
									</span>
								</div>
								<input type="text" class="form-control" placeholder="Text input with Left radio " aria-describedby="radio-addon1" />
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Input Groups With Checkbox end -->


<!--	   Input Group Sizing	 -->
<section class="sizing-input-group" id="input-group-sizing">
	<div class="row text-left">
		<div class="col-12 mt-3 mb-1">
			<div class="content-header">Input Groups Sizing</div>
		</div>
	</div>
	<div class="row text-left" matchHeight ="card">
		<div class="col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Extra Large Input group</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<p>Add <code>.input-group-xl</code> class to <code>.input-group</code> for Xlarge addon.</p>
						<fieldset>
							<div class="input-group input-group-xl">
								<div class="input-group-prepend">
									<span class="input-group-text">$</span>
								</div>
								<input type="text" class="form-control" placeholder="Extra Large Addon" aria-label="Amount">
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Large Input group</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<p>Add <code>.input-group-lg</code> class to <code>.input-group</code> for Large addon.</p>
						<fieldset>
							<div class="input-group input-group-lg">
								<div class="input-group-prepend">
									<span class="input-group-text" id="sizing-addon1">@</span>
								</div>
								<input type="text" class="form-control" placeholder="Large Addon" aria-describedby="sizing-addon1">
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Default Input group</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<p>Default Input Group addon.</p>
						<fieldset>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Default Addon" aria-describedby="sizing-addon2">
								<div class="input-group-append">
									<span class="input-group-text" id="sizing-addon2">.00</span>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Small Input group</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<p>Add <code>.input-group-sm</code> class to <code>.input-group</code> for small addon.</p>
						<fieldset>
							<div class="input-group input-group-sm">
								<div class="input-group-prepend">
									<span class="input-group-text" id="sizing-addon3">@example.com</span>
								</div>
								<input type="text" class="form-control" placeholder="Small Addon" aria-describedby="sizing-addon3">
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Input Group Sizing end-->


<!-- Input Group Buttons start -->
<section class="buttons-input-group" id="input-group-buttons">
	<div class="row text-left">
		<div class="col-12 mt-3 mb-1">
			<div class="content-header">Input Groups Buttons</div>
		</div>
	</div>
	<div class="row text-left" matchHeight ="card">
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group Button On Left</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<p>Add span with <code>.input-group-btn</code> class and add button inside <b>before</b> <code>&lt;input&gt;</code></p>
						<fieldset>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-btn" id="button-addon1">
										<button class="btn btn-raised btn-primary" type="button">Click Me!</button>
									</span>
								</div>
								<input type="text" class="form-control" placeholder="Button on left" aria-describedby="button-addon1">
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group Button On Right</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<p>Add span with <code>.input-group-btn</code> class and add button inside <b>after</b> <code>&lt;input&gt;</code></p>
						<fieldset>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Button on right" aria-describedby="button-addon2">
								<div class="input-group-append">
									<span class="input-group-btn" id="button-addon2">
										<button class="btn btn-raised btn-primary" type="button">Go</button>
									</span>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group Button On Both Side</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<p>Add span with <code>.input-group-btn</code> class and add button inside <b>before &amp; after</b> <code>&lt;input&gt;</code></p>
						<fieldset>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-btn">
										<button class="btn btn-raised btn-primary" type="button">Love it!</button>
									</span>
								</div>
								<input type="text" class="form-control" placeholder="Button on both side" aria-label="Amount">
								<div class="input-group-append">
									<span class="input-group-btn">
										<button class="btn btn-raised btn-primary" type="button">Hate it!</button>
									</span>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group Icon Button On Left</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<p>Add span with <code>.input-group-btn</code> class and add button inside <b>before</b> <code>&lt;input&gt;</code></p>
						<fieldset>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-btn" id="button-addon3">
										<button class="btn btn-raised btn-primary" type="button"><i class="ft-mic"></i></button>
									</span>
								</div>
								<input type="text" class="form-control" placeholder="Button on left" aria-describedby="button-addon3">
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group Button On Right</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<p>Add span with <code>.input-group-btn</code> class and add button inside <b>after</b> <code>&lt;input&gt;</code></p>
						<fieldset>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Button on right" aria-describedby="button-addon4">
								<div class="input-group-append">
									<span class="input-group-btn" id="button-addon4">
										<button class="btn btn-raised btn-primary" type="button"><i class="fa fa-skyatlas"></i></button>
									</span>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group Button On Both Side</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<p>Add span with <code>.input-group-btn</code> class and add button inside <b>before &amp; after</b> <code>&lt;input&gt;</code></p>
						<fieldset>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-btn">
										<button class="btn btn-raised btn-primary" type="button"><i class="ft-search"></i></button>
									</span>
								</div>
								<input type="text" class="form-control" placeholder="Button on both side" aria-label="Amount">
								<div class="input-group-append">
									<span class="input-group-btn">
										<button class="btn btn-raised btn-primary" type="button">Go!</button>
									</span>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Input Group Buttons end -->


<!-- Buttons with Dropdown start -->
<section class="buttons-with-dropdown" id="input-group-dropdown">
	<div class="row text-left">
		<div class="col-12 mt-3 mb-1">
			<div class="content-header">Buttons with Dropdown</div>
		</div>
	</div>
	<div class="row text-left" matchHeight ="card">
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group Dropdown On Right</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<fieldset>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Dropdown on right">
								<div class="input-group-append">
									<span ngbDropdown placement="top-right">
										<button class="btn btn-primary btn-raised" id="dropdownBasic2" ngbDropdownToggle>Action</button>
										<div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBasic2">
											<button class="dropdown-item">Action</button>
											<button class="dropdown-item">Another Action</button>
											<button class="dropdown-item">Something else is here</button>
											<div role="separator" class="dropdown-divider"></div>
											<button class="dropdown-item">Separated link</button>
										</div>
									</span>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group Dropdown On Left</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="input-group">
							<div class="input-group-prepend">
								<span ngbDropdown placement="top-right">
									<button class="btn btn-primary btn-raised" id="dropdownBasic2" ngbDropdownToggle>Action</button>
									<div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBasic2">
										<button class="dropdown-item">Action</button>
										<button class="dropdown-item">Another Action</button>
										<button class="dropdown-item">Something else is here</button>
									</div>
								</span>
							</div>
							<input type="text" class="form-control">
						</div><!-- /input-group -->
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-6 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Input group Dropdown On Both Side</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<fieldset>
							<div class="input-group">
								<div class="input-group-prepend">
									<span ngbDropdown placement="top-right">
										<button class="btn btn-primary btn-raised" id="dropdownBasic2" ngbDropdownToggle>
											<i class="fa fa-pencil"></i>
										</button>
										<div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBasic2">
											<button class="dropdown-item">Action</button>
											<button class="dropdown-item">Another Action</button>
											<button class="dropdown-item">Something else is here</button>
											<div role="separator" class="dropdown-divider"></div>
											<button class="dropdown-item">Separated link</button>
										</div>
									</span>
								</div>
								<input type="text" class="form-control" placeholder="Dropdown on both side" aria-label="Amount">
								<div class="input-group-append">
									<span ngbDropdown placement="top-right">
										<button class="btn btn-primary btn-raised" id="dropdownBasic2" ngbDropdownToggle>Action</button>
										<div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBasic2">
											<button class="dropdown-item">Action</button>
											<button class="dropdown-item">Another Action</button>
											<button class="dropdown-item">Something else is here</button>
											<div role="separator" class="dropdown-divider"></div>
											<button class="dropdown-item">Separated link</button>
										</div>
									</span>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Buttons with Dropdown end -->